<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siebre.uaa.openapi.mapper.OpenApiMapper">
    <resultMap id="BaseResultMap" type="com.siebre.uaa.openapi.entity.OpenApi">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="interface_name" jdbcType="VARCHAR" property="interfaceName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, interface_name, description, url
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from opn_open_api
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
      delete from opn_open_api
      where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.siebre.uaa.openapi.entity.OpenApi">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into opn_open_api (interface_name, description, url
        )
        values (#{interfaceName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.siebre.uaa.openapi.entity.OpenApi">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into opn_open_api
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="interfaceName != null">
                interface_name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="url != null">
                url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="interfaceName != null">
                #{interfaceName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.siebre.uaa.openapi.entity.OpenApi">
        update opn_open_api
        <set>
            <if test="interfaceName != null">
                interface_name = #{interfaceName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.siebre.uaa.openapi.entity.OpenApi">
      update opn_open_api
      set interface_name = #{interfaceName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
      where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>