<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siebre.payment.paymentchannel.mapper.PaymentChannelMapper">
	<resultMap id="BaseResultMap" type="com.siebre.payment.entity.paymentchannel.PaymentChannel">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="channel_name" property="channelName" jdbcType="VARCHAR" />
		<result column="channel_code" property="channelCode" jdbcType="VARCHAR" />
		<result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
		<result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
		<result column="support_refunded" property="supportRefunded" jdbcType="BOOLEAN" />
		<result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
		<result column="contract_start_date" property="contractStartDate" jdbcType="TIMESTAMP" />
		<result column="contract_end_date" property="contractEndDate" jdbcType="TIMESTAMP" />
		<result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
		<result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
		<result column="payee_account" property="payeeAccount" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="payment_gateway_url" property="paymentGatewayUrl" jdbcType="VARCHAR" />
		<result column="payment_callback_url" property="paymentCallbackUrl" jdbcType="VARCHAR" />
		<result column="payment_return_page_url" property="paymentReturnPageUrl" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id,
		channel_name,
		channel_code,
		merchant_code,
		icon_url,
		status,
		support_refunded,
		contract_number,
		contract_start_date,
		contract_end_date,
		start_date,
		end_date,
		payee_account,
		remark,
		payment_gateway_url,
		payment_callback_url,
		payment_return_page_url,
		create_user,
		create_date,
		update_user,
		update_date
	</sql>

	<select id="selectAll" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			pmt_payment_channel
		where 
			1=1
		order by 
			id asc
	</select>

</mapper>