<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siebre.payment.refundapplication.mapper.RefundApplicationMapper">
	<resultMap id="BaseResultMap" type="com.siebre.payment.refundapplication.entity.RefundApplication">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="order_number" property="orderNumber" jdbcType="VARCHAR"/>
		<result column="refund_amount" property="refundAmount" jdbcType="DECIMAL"/>
		<result column="refund_application_number" property="refundApplicationNumber" jdbcType="VARCHAR"/>
		<result column="status" property="status" typeHandler="com.siebre.basic.enumutil.EnumStatusHandler"/>
		<result column="request" property="request" jdbcType="VARCHAR"/>
		<result column="response" property="response" jdbcType="VARCHAR"/>
		<result column="message_id" property="messageId" jdbcType="VARCHAR"/>
		<result column="notification_url" property="notificationUrl" jdbcType="VARCHAR"/>
		<result column="create_user" property="createUser" jdbcType="VARCHAR"/>
		<result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
	</resultMap>

	<resultMap id="refundOrderResultMap" type="com.siebre.payment.refundapplication.entity.RefundApplication">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="order_number" property="orderNumber" jdbcType="VARCHAR"/>
		<result column="refund_amount" property="refundAmount" jdbcType="DECIMAL"/>
		<result column="refund_application_number" property="refundApplicationNumber" jdbcType="VARCHAR"/>
		<result column="status" property="status" typeHandler="com.siebre.basic.enumutil.EnumStatusHandler"/>
		<result column="request" property="request" jdbcType="VARCHAR"/>
		<result column="response" property="response" jdbcType="VARCHAR"/>
		<result column="message_id" property="messageId" jdbcType="VARCHAR"/>
		<result column="notification_url" property="notificationUrl" jdbcType="VARCHAR"/>
		<result column="create_user" property="createUser" jdbcType="VARCHAR"/>
		<result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
		<association property="paymentOrder" notNullColumn="id" javaType="com.siebre.payment.paymentorder.entity.PaymentOrder" columnPrefix="paymentOrder_">
			<id column="id" property="id" jdbcType="BIGINT" />
			<result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
			<result column="total_insured_amount" property="totalInsuredAmount" jdbcType="DECIMAL" />
			<result column="amount" property="amount" jdbcType="DECIMAL" />
			<result column="total_premium" property="totalPremium" jdbcType="DECIMAL" />
			<result column="business_plantform" property="businessPlantform" jdbcType="INTEGER" />
			<result column="payment_client" property="paymentClient" jdbcType="INTEGER" />
			<result column="return_trade_no" property="returnTradeNo" jdbcType="VARCHAR" />
			<result column="status" property="status" typeHandler="com.siebre.basic.enumutil.EnumStatusHandler" />
			<result column="check_status" property="checkStatus" typeHandler="com.siebre.basic.enumutil.EnumStatusHandler" />
			<result column="payment_terminal_type" property="paymentTerminalType" jdbcType="INTEGER" />
			<result column="channel_code" property="channelCode" jdbcType="VARCHAR" />
			<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
			<result column="refund_amount" property="refundAmount" jdbcType="DECIMAL" />
			<result column="payment_way_code" property="paymentWayCode" jdbcType="VARCHAR" />
			<association property="paymentChannel" javaType="com.siebre.payment.paymentchannel.entity.PaymentChannel" columnPrefix="paymentChannel_">
				<result column="channel_name" property="channelName" jdbcType="VARCHAR"/>
				<result column="channel_code" property="channelCode" jdbcType="VARCHAR"/>
			</association>
		</association>
		<association property="refundTransaction" notNullColumn="id" javaType="com.siebre.payment.paymenttransaction.entity.PaymentTransaction" columnPrefix="refundTransaction_">
			<id column="id" property="id" jdbcType="BIGINT"/>
			<result column="payment_channel_id" property="paymentChannelId" jdbcType="BIGINT"/>
			<result column="payment_way_id" property="paymentWayId" jdbcType="BIGINT"/>
			<result column="payment_order_id" property="paymentOrderId" jdbcType="BIGINT"/>
			<result column="internal_transaction_number" property="internalTransactionNumber" jdbcType="VARCHAR"/>
			<result column="external_transaction_number" property="externalTransactionNumber" jdbcType="VARCHAR"/>
			<result column="payment_amount" property="paymentAmount" jdbcType="DECIMAL"/>
			<result column="payment_status" property="paymentStatus"
					typeHandler="com.siebre.basic.enumutil.EnumStatusHandler"/>
			<result column="transaction_message_id" property="transactionMessageId" jdbcType="VARCHAR"/>
			<result column="payee_account" property="payeeAccount" jdbcType="VARCHAR"/>
			<result column="payment_accout" property="paymentAccout" jdbcType="VARCHAR"/>
			<result column="interface_type" property="interfaceType"
					typeHandler="com.siebre.basic.enumutil.EnumStatusHandler"/>
			<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
			<result column="sender" property="sender" jdbcType="VARCHAR"/>
			<result column="receiver" property="receiver" jdbcType="VARCHAR"/>
		</association>
	</resultMap>

	<sql id="Base_Column_List">
		id, order_number, refund_amount, refund_application_number, status, request, response, message_id, notification_url, create_user,
		update_user, create_date, update_date
	</sql>

	<sql id="Refund_Order_List">
		pmt_refund_application.id,
		pmt_refund_application.order_number,
		pmt_refund_application.refund_amount,
		pmt_refund_application.refund_application_number,
		pmt_refund_application.status,
		pmt_refund_application.request,
		pmt_refund_application.response,
		pmt_refund_application.message_id,
		pmt_refund_application.notification_url,
		pmt_refund_application.create_user,
		pmt_refund_application.update_user,
		pmt_refund_application.create_date,
		pmt_refund_application.update_date,
		pmt_payment_order.id                               paymentOrder_id,
		pmt_payment_order.order_number                     paymentOrder_order_number,
		pmt_payment_order.total_insured_amount             paymentOrder_total_insured_amount,
		pmt_payment_order.amount                           paymentOrder_amount,
		pmt_payment_order.total_premium                    paymentOrder_total_premium,
		pmt_payment_order.business_plantform               paymentOrder_business_plantform,
		pmt_payment_order.payment_client                   paymentOrder_payment_client,
		pmt_payment_order.return_trade_no                  paymentOrder_return_trade_no,
		pmt_payment_order.status                           paymentOrder_status,
		pmt_payment_order.check_status                     paymentOrder_check_status,
		pmt_payment_order.payment_terminal_type            paymentOrder_payment_terminal_type,
		pmt_payment_order.channel_code                     paymentOrder_channel_code,
		pmt_payment_order.create_time                      paymentOrder_create_time,
		pmt_payment_order.refund_amount                    paymentOrder_refund_amount,
		pmt_payment_order.payment_way_code                 paymentOrder_payment_way_code,
		pmt_payment_channel.channel_name                   paymentOrder_paymentChannel_channel_name,
		pmt_payment_channel.channel_code                   paymentOrder_paymentChannel_channel_code,
		pmt_payment_transaction.id                                refundTransaction_id,
		pmt_payment_transaction.payment_channel_id                refundTransaction_payment_channel_id,
		pmt_payment_transaction.payment_way_id                    refundTransaction_payment_way_id,
		pmt_payment_transaction.payment_order_id                  refundTransaction_payment_order_id,
		pmt_payment_transaction.internal_transaction_number       refundTransaction_internal_transaction_number,
		pmt_payment_transaction.external_transaction_number       refundTransaction_external_transaction_number,
		pmt_payment_transaction.payment_amount                    refundTransaction_payment_amount,
		pmt_payment_transaction.payment_status                    refundTransaction_payment_status,
		pmt_payment_transaction.transaction_message_id            refundTransaction_transaction_message_id,
		pmt_payment_transaction.payee_account                     refundTransaction_payee_account,
		pmt_payment_transaction.payment_accout                    refundTransaction_payment_accout,
		pmt_payment_transaction.interface_type                    refundTransaction_interface_type,
		pmt_payment_transaction.create_date                       refundTransaction_create_date,
		pmt_payment_transaction.sender                            refundTransaction_sender,
		pmt_payment_transaction.receiver                          refundTransaction_receiver
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List"/>
		from pmt_refund_application
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByMessageId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List"/>
		from pmt_refund_application
		where message_id = #{messageId,jdbcType=VARCHAR}
	</select>

	<select id="selectByPage" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List"/>
		from pmt_refund_application
		where 1=1
	</select>

	<select id="selectRefundList" resultMap="refundOrderResultMap" >
		select
		<include refid="Refund_Order_List"/>
		from
		pmt_refund_application
		left JOIN
		pmt_payment_order on pmt_refund_application.order_number = pmt_payment_order.order_number
		left JOIN
		pmt_payment_channel on pmt_payment_order.channel_code = pmt_payment_channel.channel_code
		left JOIN
		pmt_payment_transaction on pmt_refund_application.refund_application_number = pmt_payment_transaction.internal_transaction_number
		where 1=1
		<if test="orderNumber!=null and orderNumber!=''">
			and pmt_refund_application.order_number =#{orderNumber}
		</if>
		<if test="refundNumber!=null and refundNumber!=''">
			and pmt_refund_application.refund_application_number = #{refundNumber}
		</if>
		<if test="channelCodeList != null and channelCodeList.size() != 0">
			and pmt_payment_channel.channel_code in
			<foreach item="channelCode" index="index" collection="channelCodeList" open="(" separator="," close=")">
				#{channelCode}
			</foreach>
		</if>
		<if test="startDate != null">
			and pmt_refund_application.create_date &gt; #{startDate,jdbcType=VARCHAR}
		</if>
		<if test="endDate != null">
			and pmt_refund_application.create_date &lt; #{endDate,jdbcType=VARCHAR}
		</if>
		order by
		pmt_refund_application.create_date desc
	</select>

	<select id="selectByBusinessNumber" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List"/>
		from pmt_refund_application
		where 1=1
		<if test="orderNumber!=null and orderNumber!=''">
			and pmt_refund_application.order_number =#{orderNumber}
		</if>
		<if test="refundApplicationNumber!=null and refundApplicationNumber!=''">
			and pmt_refund_application.refund_application_number = #{refundApplicationNumber}
		</if>
	</select>

	<select id="selectByOrderNumberAndStatus" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List"/>
		from pmt_refund_application
		where 1=1
		<if test="orderNumber!=null and orderNumber!=''">
			and pmt_refund_application.order_number =#{orderNumber}
		</if>
		<if test="status!=null">
			and pmt_refund_application.status = #{status.value}
		</if>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		DELETE FROM pmt_refund_application
		WHERE id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.siebre.payment.refundapplication.entity.RefundApplication" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO pmt_refund_application (id, order_number, refund_amount,
		refund_application_number, status, request,
		response, message_id, notification_url, create_user, update_user,
		create_date, update_date)
		VALUES (#{id,jdbcType=BIGINT}, #{orderNumber,jdbcType=VARCHAR}, #{refundAmount,jdbcType=DECIMAL},
		#{refundApplicationNumber,jdbcType=VARCHAR},
		#{status.value},
		#{request,jdbcType=VARCHAR},
		#{response,jdbcType=VARCHAR}, #{messageId,jdbcType=VARCHAR},#{notificationUrl,jdbcType=VARCHAR},
		#{createUser,jdbcType=VARCHAR},
		#{updateUser,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.siebre.payment.refundapplication.entity.RefundApplication" useGeneratedKeys="true" keyProperty="id">
		insert into pmt_refund_application
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orderNumber != null">
				order_number,
			</if>
			<if test="refundAmount != null">
				refund_amount,
			</if>
			<if test="refundApplicationNumber != null">
				refund_application_number,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="request != null">
				request,
			</if>
			<if test="response != null">
				response,
			</if>
			<if test="messageId != null">
				message_id,
			</if>
			<if test="notificationUrl != null">
				notification_url,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="orderNumber != null">
				#{orderNumber,jdbcType=VARCHAR},
			</if>
			<if test="refundAmount != null">
				#{refundAmount,jdbcType=DECIMAL},
			</if>
			<if test="refundApplicationNumber != null">
				#{refundApplicationNumber,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status.value},
			</if>
			<if test="request != null">
				#{request,jdbcType=VARCHAR},
			</if>
			<if test="response != null">
				#{response,jdbcType=VARCHAR},
			</if>
			<if test="messageId != null">
				#{messageId,jdbcType=VARCHAR},
			</if>
			<if test="notificationUrl != null">
				#{notificationUrl,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
			parameterType="com.siebre.payment.refundapplication.entity.RefundApplication">
		update pmt_refund_application
		<set>
			<if test="orderNumber != null">
				order_number = #{orderNumber,jdbcType=VARCHAR},
			</if>
			<if test="refundAmount != null">
				refund_amount = #{refundAmount,jdbcType=DECIMAL},
			</if>
			<if test="refundApplicationNumber != null">
				refund_application_number = #{refundApplicationNumber,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status.value},
			</if>
			<if test="request != null">
				request = #{request,jdbcType=VARCHAR},
			</if>
			<if test="response != null">
				response = #{response,jdbcType=VARCHAR},
			</if>
			<if test="messageId != null">
				message_id = #{messageId,jdbcType=VARCHAR},
			</if>
			<if test="notificationUrl != null">
				notification_url = #{notificationUrl,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.siebre.payment.refundapplication.entity.RefundApplication">
		UPDATE pmt_refund_application
		SET order_number       = #{orderNumber,jdbcType=VARCHAR},
		refund_amount      = #{refundAmount,jdbcType=DECIMAL},
		refund_application_number = #{refundApplicationNumber,jdbcType=VARCHAR},
		status             = #{status.value},
		request            = #{request,jdbcType=VARCHAR},
		response           = #{response,jdbcType=VARCHAR},
		message_id          = #{messageId,jdbcType=VARCHAR},
		notification_url    = #{notificationUrl,jdbcType=VARCHAR},
		create_user        = #{createUser,jdbcType=VARCHAR},
		update_user        = #{updateUser,jdbcType=VARCHAR},
		create_date        = #{createDate,jdbcType=TIMESTAMP},
		update_date        = #{updateDate,jdbcType=TIMESTAMP}
		WHERE id = #{id,jdbcType=BIGINT}
	</update>
</mapper>